<ion-app class="main-content">
  <ion-content>
    <img *ngIf="isite.db.setting.banner" [src]="isite.db.setting.banner" />
    <div *ngIf="isite.db.userSession && isite.db.userSession.type == 'parent'">
      <div class="banner-word">
        <span> الأبناء </span>
      </div>

      <ul class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <li
          class="student-parent-main"
          *ngFor="let child of isite.db.childrenList"
        >
          <a
            [routerLink]="['/lecturesStudentView']"
            [queryParams]="{_id: child._id}"
          >
            <div class="student-parent">
              <img [src]="child.image" alt="" />
              <span class="name">{{child.firstName}}</span>
            </div>
          </a>
        </li>
      </ul>
      <!-- <div class="separative"></div> -->
    </div>
    <div *ngIf="isite.db.setting.isShared">
      <div class="banner-word">
        <span> المدرسين </span>
        <a class="banner-viewAll" [routerLink]="['/teachersView']"
          >مشاهدة الكل</a
        >
      </div>

      <ul class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <li
          class="teacher-main-li"
          *ngFor="let teacher of isite.db.teachersList"
        >
          <a class="no-line" ng-click="selectTeacher(teacher.id)" href="#">
            <div class="teacher-main-div">
              <img [src]="teacher.image" alt="" />
              <div>
                <span class="teacher-main-name">{{teacher.firstName}}</span>
                <span class="teacher-main-title">{{teacher.title}}</span>
                <span class="teacher-main-bio">{{teacher.bio}}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <!-- <div class="separative"></div> -->
    </div>

    <div *ngIf="isite.db.setting.showPackages">
      <div class="banner-word">
        <span> مجموعات المحاضرات </span>
        <a class="banner-viewAll" [routerLink]="['/packagesView']"
          >مشاهدة الكل</a
        >
      </div>

      <ul class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <li *ngFor="let backage of isite.db.packagesList">
          <a [routerLink]="['/packageView']" [queryParams]="{_id: backage._id}">
            <figure class="image-block">
              <p class="name">{{backage.name}}</p>
              <img [src]="backage.image" alt="" />
              <figcaption>
                <p>{{backage.description}}</p>
                <div class="row price-more-card">
                  <i class="price col-6"
                    >ج.م {{backage.price}}
                    <s class="red">{{backage.totalLecturesPrice}}</s>
                  </i>
                  <span class="col-6 more-card"> ..المزيد </span>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <!-- <div class="separative"></div> -->
    </div>
    <!-- && (!site.db.userSession || site.db.userSession.placeType != 'online') -->
    <div *ngIf="isite.db.setting.showLectures ">
      <div class="banner-word">
        <span> المحاضرات </span>
        <a class="banner-viewAll" [routerLink]="['/lectures']">مشاهدة الكل</a>
      </div>

      <ul class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <li *ngFor="let lecture of isite.db.lecturesList">
          <a [routerLink]="['/lectureView']" [queryParams]="{_id: lecture._id}">
            <figure class="image-block">
              <p class="name">{{lecture.name}}</p>
              <img [src]="lecture.image" alt="" />
              <figcaption>
                <p>{{lecture.description}}</p>
                <div class="row price-more-card">
                  <i class="price col-6">ج.م {{lecture.price}} </i>
                  <span class="col-6 more-card"> ..المزيد </span>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <!-- <div class="separative"></div> -->
    </div>

    <div *ngIf="isite.db.setting.showBooks">
      <div class="banner-word">
        <span> الكتب </span>
        <a class="banner-viewAll" [routerLink]="['/books']">مشاهدة الكل</a>
      </div>

      <ul class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <li *ngFor="let book of isite.db.booksList">
          <div class="nft">
            <div class="main">
              <img class="tokenImage" [src]="book.image" alt="NFT" />
              <h2>{{book.name}}</h2>
              <p class="description">{{book.description}}</p>
              <div class="row price-more-card">
                <i class="price-book">ج.م {{book.price}} </i>
                <span class="price-book float-left"> ..المزيد </span>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- <div class="separative"></div> -->
    </div>
    <img
      *ngIf="isite.db.setting.footerLogo"
      [src]="isite.db.setting.footerLogo"
    />

    <!-- <iframe src="../../app.footer.html"></iframe> -->
    <!--  <object type="text/html" data="../../app.footer.html"></object> -->
  </ion-content>
</ion-app>
